<section class="about-us-adventure">
        <div class="brown-top-divider">    
            <svg viewBox="0 0 1512 156" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                <path d="M171.964 40.3687C100.175 37.4627 0 77.7005 0 77.7005V145.586C0 151.109 4.47711 155.586 9.99996 155.586H1502C1507.52 155.586 1512 151.109 1512 145.586V51.9283C1512 51.9283 1487.75 37.2112 1467.58 32.0306C1405.77 16.1524 1375.41 67.3569 1307.73 70.689C1205.79 75.7078 1168.81 17.1338 1066.78 12.7014C935.42 6.99473 879.817 89.6053 749.774 77.7005C648.503 68.4296 628.286 -4.23428 525.986 0.194264C428.004 4.43591 427.701 89.9766 329.456 88.6916C259.433 87.7758 241.825 43.1967 171.964 40.3687Z" fill="#4C1E0F"/>
            </svg>
        </div> 
        
        <div class="about-us-adventure__content-wrapper">
            <div class="about-us-adventure__hero">
                <h5>THE TIMELINE</h5>
                <h2>Let's Take An Adventure Together</h2>
            </div>

            <div class="timeline-container">
                <!-- Timeline road background -->
                <div class="timeline-road"></div>
                
                <!-- Timeline items -->
                <div class="timeline-item timeline-left">
                    <div class="adventure-card red-card">
                        <p class="h5-poppins">FIRST STOP ON OUR ADVENTURE</p>
                        <h2>1970s</h2>
                        <p class="rammetto-body">My health-focused mom was always experimenting in the kitchen, one night it was "nut burgers".... Luckily, those didn't stick but the healthy lifestyle did. Thanks, mom!</p>
                    </div>
                </div>

                <div class="timeline-item timeline-right">
                    <div class="adventure-card pink-card">
                        <p class="h5-poppins">OUR SECOND STOP: BREAKTHROUGH</p>
                        <h2>2000s</h2>
                        <p class="rammetto-body">As a science teacher, I fell in love with "kitchen chemistry." I went without and dairy-free at this time, and had to get creative with snacks. Starting with granola...</p>
                    </div>
                </div>

                <div class="timeline-item timeline-left">
                    <div class="adventure-card orange-card">
                        <p class="h5-poppins">THIRD STOP ON OUR ADVENTURE</p>
                        <h2>2013</h2>
                        <p class="rammetto-body">I shared my granola with friends and they told me to sell it! So I did, at local markets in zip-log bags (sorry, Mother Earth). People loved it! But something was missing...</p>
                    </div>
                </div>

                <div class="timeline-item timeline-right">
                    <div class="adventure-card yellow-card">
                        <p class="h5-poppins">OUR FOURTH STOP: LIFE-CHANGING</p>
                        <h2>2014</h2>
                        <p class="rammetto-body">I discovered best friend (oil-free tahini) discovered my company and that was LIFE-CHANGING! And really opened many avenues for us to create tahini-based snacks. Like chocolate chip cookies? Love chocolate, and your favorite childhood cookies... So we combined!</p>
                    </div>
                </div>

                <div class="timeline-item timeline-left">
                    <div class="adventure-card green-card">
                        <div class="flavor-text">
                            <p>We Made It!</p>
                        </div>
                        <p class="h5-poppins">OUR LAST STOP: WE'RE HERE</p>
                        <h2>2014-TODAY</h2>
                        <p class="rammetto-body">I invested heavily in tempering chocolate skills, doesn't ask about my failures, and started making bite-friendly foods you know and love today. Carrying my mama healthy values, and she's discuss with me, nibbling literally food for people like you!</p>
                    </div>
                </div>

                <div class="timeline-item timeline-left last-timeline-item">
                    <div class="adventure-card blue-card last-adventure-card">
                        <div class="flavor-text">
                            <p>Wait There's More?</p>
                        </div>
                        <p class="h5-poppins">MY LATEST ADVENTURE</p>
                        <h2>JULY 2025</h2>
                        <p class="rammetto-body">I'm biking through Yreka! If you can't catch up to me, I might tell you my next friendly food.</p>
                    </div>

                    <div class="last-adventure-card biking-image-wrapper">
                        <img src="{{ 'biking.png' | asset_url }}" alt="Placeholder Image" class="adventure-image">
                    </div>
                </div>
            </div>
        </div>
    </section>