<section class="value-prop-testimonials">
    
     
  <div class="value-prop-content-wrapper">
      <div class="value-prop-content">
        <h2>What We Care About <span class="strawberry">... A Lot</span></h2>
        <div class="testimonials">
            <div class="pink-testimonial-wrapper">
                <div class="testimonial">
                    <p class="we-care-text-poppins">Uncomprimising Quality</p>
                  <p class="thick-rametto">If it’s not the best, it’s not invited to the chocolate party.</p>
                    <div class="testimonial-author">
                
                    </div>
                </div>
            </div>

            <div class="pink-testimonial-wrapper">
                <div class="testimonial">
                    <p class="we-care-text-poppins">INCLUSIVE ENJOYMENT</p>
                  <p class="thick-rametto">Chocolate for everyone — no gluten, dairy, soy, Fillers, preservatives...</p>
                    <div class="testimonial-author">
                
                    </div>
                </div>
            </div>

            <div class="pink-testimonial-wrapper">
                <div class="testimonial">
                    <p class="we-care-text-poppins">LOCAL & SMALL BIZ  SUPPORT</p>
                  <p class="thick-rametto">We’d rather shop at Bob’s Raspberry Farm than Big Box Berry Mart.</p>
                    <div class="testimonial-author">
                
                    </div>
                </div>
            </div>

            <div class="testimonial last">
                <h2>See for yourself.</h2>
                <div class="red-btn-wrapper red-btn-wrapper-white">
                    <button class="red-btn">GET YOUR SNACKS</button>
                </div>
            </div>
            
        </div>
  </div>

</section>