<section class="paper-bg">
    <div class="jason-chilhood-content-wrapper">
        <div class="jason-childhood-content">
            <h2>Founded on Jason’s childhood love 
                of wholesome ingredients, snacks and adventure </h2>
           <div class="four-value-prop">
                <div class="four-value-prop-item value-prop-left">
                    <p>NATURALLY GLUTEN FREE</p>
                    <img src="/assets/gluten-free.svg" alt="Gluten Free Icon">
                </div>

                <div class="four-value-prop-item value-prop-right">
                    <img src="/assets/organic.svg" alt="Gluten Free Icon">
                    <p>MADE WITH ORGANIC LOCAL INGREDIENTS</p>
                </div>

                <div class="four-value-prop-item value-prop-left">
                    <p>DAIRY FREE & SOY FREE</p>
                    <img src="/assets/dairy-free.svg" alt="Gluten Free Icon">
                </div>

                <div class="four-value-prop-item value-prop-right">
                    <img src="/assets/cruelty-free.svg" alt="Gluten Free Icon">    
                    <p>VEGAN SNACKS YOU’LL LOVE</p> 
                </div>
                
            </div>
            <div class="orange-btn-wrapper"><a href="/collections/childhood" class="btn orange-btn">Explore Now</a></div>
        </div>
    </div>
</section>  