<section class="featured-food">
    <div class="featured-food-content-wrapper">
        <div class="featured-food-content">
            <p class="h4-poppins white">LATEST FRIENDLY FOOD</p>
            <h2>Freeze Dried Strawberries Drizzled in Delicious Chocolate</h2>
        <div class="green-btn-wrapper"><a href="/collections/made-to-order" class="btn green-btn">Shop Now</a></div>
        </div>

        <div class="featured-food-content-image">
          <img src="/assets/drizzle-apircot.png" alt="Made to Order Chocolate Bark and Snacks">
        </div>
    </div>
  </div>