<section class="grid-section">
        <video class="background-video" autoplay muted loop>
            <source src="/assets/WIP-Video.mp4" type="video/mp4">
        </video>
        <div class="grid-container">
            <div class="grid-item">
                <h2>2013</h2>
                <p class="h4-poppins">BEEN AROUND SINCE</p>
            </div>
            <div class="grid-item">
                <h2>50+</h2>
                <p>CRAFT FAIRS ATTENDED</p>
            </div>
            <div class="grid-item">
                <h2>5k+</h2>
                <p>POUNDS OF CHOCOLATE SOLD</p>
            </div>
            <div class="grid-item">
                <h2>#1</h2>
                <p>TRADITIONAL USE OF CHOCOLATE AWARD</p>
            </div>
        </div>
    </section>