<section class="paper-bg">
    <div class="made-to-order-content-wrapper">
          <div class="made-to-order-content row2">
                <h5 class="h5-poppins">Founder Owned & Operated</h5>
                <h2>Led By Our Passion for Delicious Snacks Made With Friendly Ingredients.</h2>
                <div class="red-btn-wrapper-white"><a href="/about" class="btn blue-btn">Read Our Story</a></div>
         </div>

        <div class="made-to-order-image jason-face-row-wrapper">
          <img src="/assets/drizzle-apircot.png" alt="Made to Order Chocolate Bark and Snacks">
        </div>
  </div>
</section>