<section class="paper-bg">
    <div class="made-to-order-content-wrapper">
        <div class="made-to-order-image row1">
          <img src="/assets/drizzle-apircot.png" alt="Made to Order Chocolate Bark and Snacks">
        </div>
          <div class="made-to-order-content row2">
        <h5>FROM OUR KITCHEN TO YOUR HOME</h5>
        <h2>Made-to-Order Chocolate Bark & Snacks</h2>
        <p>Flavored with natural, wholesome  ingredients- our hands make each batch to order to ensure the best quality.</p>
        <div class="orange-btn-wrapper"><a href="/collections/made-to-order" class="btn orange-btn">Shop Now</a></div>
    </div>
  </div>