<section class="newsletter">
  <div class="newsletter-content-wrapper">
    <h3 class="subheadline">10% OFF YOUR FIRST ORDER</h3>
    <h2>Sign Up For Our Newsletter</h2>
    <div class="newsletter-form-wrapper">
        <form action="/subscribe" method="post" class="newsletter-form">
          <input type="email" name="email" class="rounded-input" placeholder="Enter your email address" required >
          <div class="red-btn-wrapper">
                <button type="submit" class="red-btn">Sign Up Now</button>
            </div>
        </form>
    </div>
  </div>