<section class="oregon-festival">

  <div class="top-ofsection-text">
    <h1>Best traditional use of chocolate</h1>
    <img src="{{ 'Oregon-festival.png' | asset_url }}" alt="Oregon Festival">
  </div>
</section>