<section class="shop-page__section">
    <div class="shop-page__header">
      <p class="shop-page__tagline">DELICIOUS HAND CRAFTED CHOCOLATE</p>
      <h1 class="shop-page__title">Shop All Friendly Foods</h1>
    </div>
</section>