 <section class="us-vs-them-section">
     <div class="comparison-table-wrapper">
        <h2>Why Buy From Us?</h2>
        <div class="comparison-content-wrapper">
            <div class="comparison-content-wrapper">
                <img src="{{ 'us-vs-them.png' | asset_url }}" alt="Comparison of Jason's Friendly Foods vs Competitors">
            </div>
        </div>
    </div>
 </section>