<section class="value-prop-testimonials">

  <div class="value-prop-content-wrapper">
      <div class="value-prop-content">
        <h2>What Real People Are Saying <span class="pink-text">About Our Really Friendly Food</span></h2>
        <div class="testimonials">
            <div class="testimonial">
                <div class="stars">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                </div>
              <p class="h4-poppins">"I love that I can enjoy chocolate without feeling guilty. These snacks are a game changer!"</p>
                <div class="testimonial-author">
                    <img src="/assets/place-holder.png" alt="Author Image">
                    <p class="h4-poppins grey">Jane Doe</p>
                </div>
            </div>

            <div class="testimonial">
                <div class="stars">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                </div>
              <p class="h4-poppins">"I love that I can enjoy chocolate without feeling guilty. These snacks are a game changer!"</p>
                <div class="testimonial-author">
                    <img src="/assets/place-holder.png" alt="Author Image">
                    <p class="h4-poppins grey">Jane Doe</p>
                </div>
            </div>

            <div class="testimonial">
                <div class="stars">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                   <img src="/assets/star-icon.svg" alt="Star Icon">
                </div>
              <p class="h4-poppins">"I love that I can enjoy chocolate without feeling guilty. These snacks are a game changer!"</p>
                <div class="testimonial-author">
                    <img src="/assets/place-holder.png" alt="Author Image">
                    <p class="h4-poppins grey">Jane Doe</p>
                </div>
            </div>

            <div class="testimonial last">
                <h2>See for yourself.</h2>
                <div class="red-btn-wrapper red-btn-wrapper-white">
                    <button class="red-btn">Shop All Chocolate</button>
                </div>
            </div>
            
        </div>
  </div>

  </div>
  <div class="paper-top"></div>
</section>