<section>
  {% section 'hero' %}
  {% section 'value-carousel' %}
  {% section 'best-sellers' %}
  {% section 'made-to-order' %}
  {% section 'value-prop-testimonials' %}
  {% section 'pink-section-divider' %}
  {% section 'featured-food' %}
  {% section 'brown-section-divider' %}
  {% section 'oregon-festival' %}
  {% section 'four-value-prop' %}
  {% section 'childhood' %}
  {% section 'newsletter' %}
</section>